<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="oracle.eclipse.tools.coherence.launchConfigurationType">
<mapAttribute key="coherence.system.properties">
<mapEntry key="CacheConfig" value="coherence.cacheconfig"/>
<mapEntry key="ClusterAddress" value="coherence.clusteraddress"/>
<mapEntry key="ClusterPort" value="coherence.clusterport"/>
<mapEntry key="Log" value="coherence.log"/>
<mapEntry key="LogLevel" value="coherence.log.level"/>
<mapEntry key="Ttl" value="coherence.ttl"/>
<mapEntry key="coherence.pof.config" value="coherence.pof.config"/>
</mapAttribute>
<mapAttribute key="coherence.values">
<mapEntry key="CacheConfig" value="src/main/resources/employees-cache-config.xml"/>
<mapEntry key="ClusterAddress" value="127.0.0.1"/>
<mapEntry key="ClusterPort" value="3155"/>
<mapEntry key="Communication" value="multicast"/>
<mapEntry key="Log" value="stdout"/>
<mapEntry key="LogLevel" value="5"/>
<mapEntry key="Ttl" value="4"/>
<mapEntry key="coherence.pof.config" value="employees-pof-config.xml"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/coherence"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tangosol.coherence.dslquery.QueryPlus"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="coherence"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-showversion"/>
</launchConfiguration>
